body {
 
    text-align: center;
    background-attachment: fixed;
    font-family:monospace;
    font-size: medium;
    font-weight: bold;
    
    
}

h1{
    margin: 10px;
}

.hints{
    cursor: pointer;
}

.header{

    margin: auto;
    -webkit-text-stroke: black 0.5px;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(204, 65, 204);
    color: white;
    text-align: center;
    font-family:monospace;
    font-size: 17;
  }

table {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

table td{
    border: solid,1px,black;
}

.cell {
    text-align: center;
   width: 25px;
   height: 25px;
    
}

.hidden {
    background-color:rgb(204, 65, 204);
   
   
    border-radius: 10%;
 }

.shown {
    background-color:whitesmoke;
    border: 1px,solid,black;
    border-radius: 10%;
    
 }

 .timer {
   
    margin-left: auto;
    margin-right: auto;
   
    width: 50%;
    height: 50px;
    text-align: center;
    padding: 5px 0px 5px 0 ;
    font-family:monospace;
    font-size: medium;
    font-weight: bold;
}