@font-face { 
   font-family: "chocoladinedemo"; 
    /* IE */
    src: url(../fonts/chocoladinedemo.eot);
    /* IE */

    /* Not IE */
    src: local("chocoladinedemo"), url(../fonts/chocoladinedemo.ttf);
    /* format("truetype"); */
 /* Not IE */
}

body {
    text-align: center;
    background-attachment: fixed;
    background-image: url(../img/background1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'chocoladinedemo';
    font-size: x-large;
    font-weight: normal;
    overflow: auto;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a20dbd;
    color: white;
    text-align: center;
    font-family: 'chocoladinedemo';
    font-size: large;
    font-weight: normal;
}

table {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

table td {
    border: solid, 1px, black;
}

.cell {
    text-align: center;
    width: 25px;
    height: 25px;
    font-family: 'chocoladinedemo';
    font-size: 17px;
    font-weight: normal;
}

.hidden {
    background-image: linear-gradient(to top left,
            #bf5885 0%,
            #bf5885 20%,
            #e993ba 20%,
            #e993ba 40%,
            #bf5885 40%,
            #bf5885 60%,
            #e993ba 60%,
            #e993ba 80%,
            #bf5885 80%,
            #bf5885 100%);
    
    border-radius: 10%;
    border: 1px, solid, rgba(255, 255, 255, 0);
}


.shown {
    background: rgba(109, 133, 211, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgb(109, 133, 211);
    border-radius: 10%;
}

.timer {
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 50%;
    height: 25px;
    text-align: center;
    padding: 5px 0px 5px 0;
    font-family: 'chocoladinedemo';
    font-size:  x-large;
    font-weight: normal;
    color: #521900;
}

.time {
    display: inline;
}

.smiley {
    text-align: center;
    margin: 5px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow:hidden;
    display: inline-block;
}

.smiley img {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow:hidden;
}

.b4 {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow:hidden;
    display: inline-block;
    
}

.marksleft{
    text-align: center;
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    font-size: x-large;
    font-weight: normal;
    color: #521900;
    cursor: pointer;
}

.life {
    text-align: center;
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    font-size: x-large;
    font-weight: normal;
    color: #521900;
    cursor: pointer;
}

.hints {
    text-align: center;
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    font-size: x-large;
    font-weight: normal;
    color: #521900;
    cursor: pointer;
}

.bestScore {
    text-align: center;
    color: black;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-family: 'chocoladinedemo';
    font-size: x-large;
    font-weight: normal;
    color: #521900;
}

.buttons {
    text-align: center;
    margin-bottom: 10px;  
}

.buttons button {
    margin-left: 10px;
    margin-right: 10px;
}

.b1 {
	box-shadow:inset 0px 0px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:12px;
	border:2px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'chocoladinedemo';
	font-size:20px;
	font-weight:normal;
	padding:6px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}

.b1:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}

.b1:active {
	position:relative;
	top:1px;
}

.b2 {
	box-shadow:inset 0px 0px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:12px;
	border:2px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'chocoladinedemo';
	font-size:20px;
	font-weight:normal;
	padding:6px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}

.b2:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}

.b2:active {
	position:relative;
	top:1px;
}

.b3 {
	box-shadow:inset 0px 0px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:12px;
	border:2px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'chocoladinedemo';
	font-size:20px;
	font-weight:normal;
	padding:6px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}

.b3:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}

.b3:active {
	position:relative;
	top:1px;
}

.line1 {

    margin: 5px;
    padding: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: 200px auto 200px;     
    justify-content: center;
    grid-column-start: 50%;
    grid-column-end: 50%;
}

.SafeClick {
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
     font-size: large;
    font-weight: normal;
    }

.clicksAvailable {
        font-family: 'chocoladinedemo';
        font-size: x-large;
        font-weight: normal;
        color: #521900;  
    }

.b5 {
	box-shadow:inset 0px 0px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:12px;
	border:2px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'chocoladinedemo';
	font-size:20px;
	font-weight:normal;
	padding:6px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b6178;
    padding: 10px 20px;
}
.b5:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.b5:active {
	position:relative;
	top:1px;
}

.MineExterminator {
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    font-size: 20;
}

.b6 {
	box-shadow:inset 0px 0px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:12px;
	border:2px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'chocoladinedemo';
	font-size:20px;
	font-weight:normal;
	padding:6px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
.b6:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}
.b6:active {
	position:relative;
	top:1px;
}
